<div class="container">
  <div class="mensaje">
    <div>
      <h3>
        HAS CERRADO SESIÓN CON ÉXITO
      </h3>

      <h4>
        ¿Qué deseas hacer?
      </h4>
    </div>
    <div class="enlaces">
      <p>
        <a
          class="mb-5"
          [routerLink]="['/', { outlets: { lector: ['inicio'] } }]"
        >
          Ir a la página principal
        </a>
      </p>
      <p>
        <a
          class="mb-5"
          [routerLink]="['/', { outlets: { lector: ['login'] } }]"
        >
          Volver a ingresar
        </a>
      </p>
    </div>
  </div>
</div>
