<app-menu-navegacion></app-menu-navegacion>
<div class="container">
  <img class="imagen" src="../../../assets/img/backgroundLogIn.png" alt="" />
  <div class="content">
    <p>
      ¿Eres un autor nuevo?
      <a
        [routerLink]="['/', { outlets: { lector: ['registro'] } }]"
        routerLinkActive="active"
      >
        registrate
      </a>
    </p>
    <div
      class="form-group"
      style="margin-top: 50px; margin-left: 250px; width: 50%;"
    >
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">
          Correo electrónico
        </label>
        <input
          #correo
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          Ejemplo: minombre123@gmail.com
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input
          #clave
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        style="margin-left: 180px;"
        (click)="login(correo, clave)"
      >
        Ingresar
      </button>
    </div>
  </div>
</div>
