<footer class="footer" >
  <div class = "background-footer">
    REVISTA ELECTRÓNICA UAM
    <br>
    ISSN: 2590-7476 (En línea)
    <br>
    Departamento de Ingeniería de sistemas,
    <br>
    Universidad Autónoma de Manizales
    <br>
    Antigua Estación del Ferrecarril
    <br>
    Manizales- Caldas- Colombia
    <br>
    E-mail: revistauam@autonoma.edu.co
    <br>
    Teléfonos: +57 (6) 8727272 - 8727709
    <br>
    Ext: 102 - 110 - 144
    <br>
    Línea gratuita: 01-8000-510123
    <br>
    Revista Electrónico UAM se distribuye bajo una
    <br>
    Licencia Creative Commons Atribución-NoComercial 4.0 Internacional
  </div>
</footer>
