<app-menu-navegacion></app-menu-navegacion>
<div class = "container">
  <div class = "jumbotron">
      <div class = "row">
          <div class = "col-md-8">
              <h5> <b>Titulo:</b> <i> {{articulo.titulo}}</i></h5>
              <hr>
              <p>
                  <b>descripción</b> {{articulo.descripcion}}
              </p>
              <hr>
              <p>
                  <b>Contenido</b> {{articulo.contenido}}
              </p>
              <hr>
          </div>
      </div>
  </div>
</div>
