<nav class="navbar navbar-expand-lg navbar-light bg-warning text-white">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active" routerLinkActive="active">
          <a
            class="nav-link"
            [routerLink]="['/', { outlets: { autor: ['panel-autor'] } }]"
          >
            Log Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 10px;">
  <div
    *ngFor="let articulo of articulos1; let i = index"
    class="card border-primary mb-3"
    style="max-width: 60%;"
  >
    <div class="card-body">
      <div class="card-header mb-3"></div>
      <!--<div *ngFor="let autor of autores" class="card-header">
          <template [ngIf]="{{autor.cedula}} == '{{articulo.autor_ced}}'">
            {{ autor.nombre }} {{ autor.apellido }}
          </template>
        </div>-->
      <h4 class="card-title">{{ articulo.titulo }}</h4>
      <p class="card-text">
        {{ articulo.descripcion }}
      </p>
      <a class="btn btn-primary" (click)="verArticulo(i)">Leer</a>
    </div>
  </div>
</div>
