.nav-item {
  padding-left: 100px;
  padding-right: 100px;
  font-weight: bold;
}
.navbar-expand-lg {
  background-color: cadetblue;
}
.align {
  align-items: flex-end;
}
.publicado{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  color: rgb(34, 161, 34);
}
.rechazado{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  color:red;
}
.nuevo{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  color: blue;
}
