<app-menu-navegacion></app-menu-navegacion>
<div class="container">
  <app-search-bar></app-search-bar>
  <div
    *ngFor="let articulo of articulos1; let i = index"
    class="card border-primary mb-3"
    style="max-width: 60%;"
  >
    <div class="card-body">
      <div class="card-header mb-3">Autor: {{ articulo.autor_ced }}</div>
      <!--<div *ngFor="let autor of autores" class="card-header">
        <template [ngIf]="{{autor.cedula}} == '{{articulo.autor_ced}}'">
          {{ autor.nombre }} {{ autor.apellido }}
        </template>
      </div>-->
      <h4 class="card-title">{{ articulo.titulo }}</h4>
      <p class="card-text">
        {{ articulo.descripcion }}
      </p>
      <a class="btn btn-primary" (click)="verArticulo(i)">Leer</a>
    </div>
  </div>
</div>
