<body class="container">
  <h1>¿Qué es la revista UAM?</h1>
  <p>
    La revista UAM es el catálogo de artículos realizados de diferentes temas de
    interés en el mundo de la tecnología, economía, salud, sociedad, etc por
    miembros del departamento de ciencias computacionales de la Universidad
    Autónoma de Manizales.
    <br />
    Este proyecto se originó gracias al docente Cristian Giovanni Castrillon en
    el año 2021.
    <br />
  </p>
  <h1>¿Cómo ser parte de la revista UAM?</h1>
  Si eres escritor de artículos y deseas que tus obras puedan ser leídas
  publicamente por nuestros usuarios, comunicate a la línea XXXXXXXXXXXX para
  poder crear tu cuenta como autor de la revista UAM.
</body>
